In [5]:
import pandas as pd
import os
folder_path = os.getcwd()
data_path = folder_path + '\\data\\trade_info.csv'
trade_info = pd.read_csv(data_path, parse_dates=['trade_date'])
trade_info

     trade_date   sec_code    weight
0    2019-01-31  000006.SZ  0.007282
1    2019-01-31  000008.SZ  0.009783
2    2019-01-31  000025.SZ  0.006928
3    2019-01-31  000090.SZ  0.007234
4    2019-01-31  000536.SZ  0.003536
...         ...        ...       ...
2490 2021-01-28  603712.SH  0.007630
2491 2021-01-28  603737.SH  0.019291
2492 2021-01-28  603816.SH  0.022646
2493 2021-01-28  603866.SH  0.018611
2494 2021-01-28  688088.SH  0.007600

[2495 rows x 3 columns]

In [1]:
import pandas as pd
import tushare as ts

In [2]:
pro = ts.pro_api()
df = pro.query('daily',ts_code='600655')
print(df)

Empty DataFrame
Columns: [ts_code, trade_date, open, high, low, close, pre_close, change, pct_chg, vol, amount]
Index: []